NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_API_KEY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ِ
REFRESH_TOKEN_NAME=
ACCESS_TOKEN_NAME=

CART_ID=


NEXT_PUBLIC_PAYMOB_PK=

# egy_pk_test_65u3z8GJDNBVda2PKSzeAuTKYIICiDYM hady
# egy_pk_test_mjx9YdBZMBJQ1JyDQdeC9ByT1ssx2d9b amr